#leftBox
{
    -fx-min-width: 125px;
    -fx-pref-width: 125px;
}
#vSeparator
{
}
#rightBox
{
    -fx-pref-width: 475px;
}
#title
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0px 0px 20px;
}
#currentP
{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-translate-x: -20px;
}
#btn
{
    -fx-background-color: #004b88;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#deleteBtn
{
    -fx-background-color: #a8273a;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#clickable
{
    -fx-cursor: hand;
}
#link
{
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: #004b88;
    -fx-cursor: hand;
}
#searchBox
{
    -fx-background-color: #F5F5F5;
    -fx-alignment: center-left;
    -fx-background-radius: 20px;
    -fx-border-radius: 10px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-translate-x: -20px;
}
#search
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
}
#searchIcon
{
    -fx-translate-x: 5px;
}
#sideBtnSelected
{
    -fx-background-color: rgba(127, 168, 197, 0.3);
    -fx-text-fill: #004b88;
}
#sideBtnNotSelected
{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
#sideBtnNotSelected:hover
{
    -fx-background-color: rgba(127, 168, 197, 0.3);
    -fx-text-fill: #004b88;
}
#cameraButton {
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, #ffffff, #cccccc);
    -fx-background-radius: 100;
    -fx-border-color: #888888;
    -fx-border-radius: 100;
    -fx-border-width: 3;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

#cameraButton:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, #dddddd, #aaaaaa);
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0.3, 0, 1);
}
#newUser
{
    -fx-background-color: #004b88;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
#inputField
{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-pref-width: 190px;
    -fx-min-width: 190px;
}
#descInput
{
    -fx-pref-height: 100px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

#orderCard
{
    -fx-padding: 10;
    -fx-border-color: #004b88;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}
#user
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
#userCard
{
    -fx-background-color: #E8E8E8;
    -fx-border-color: #004b88;

}.popup_background {
     -fx-background-color: #FFFFFF;
     -fx-border-color: #666;
     -fx-border-width: 2px;
     -fx-padding: 10;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
 }

.alert-success {
    -fx-background-color: #D4EDDA;
    -fx-background-radius: 5;
}
.alert-warning {
    -fx-background-color: #FFF3CD;
    -fx-background-radius: 5;
}
.alert-danger {
    -fx-background-color: #F8D7DA;
    -fx-background-radius: 5;
}
.alert-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.alert-body {
    -fx-font-size: 10px;
}
.error {
    -fx-border-width: 2px;
    -fx-border-color: red;
    -fx-background-color: #ffe6e6;
    -fx-transition: all 0.3s ease;
}

.error:focus {
    -fx-border-color: darkred; /* Darker red on focus */
    -fx-background-color: #ffcccc; /* Lighter background on focus */
}

#error-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-opacity: 1;
    -fx-alignment: center;
}

.coordinator_button {
    -fx-background-image: url("/dk/easv/ticketsys/Images/people.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25px;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
}
.list_button {
    -fx-background-image: url("/dk/easv/ticketsys/Images/list.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25px;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
}
.delete_button {
    -fx-background-image: url("/dk/easv/ticketsys/Images/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25px;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
}
.edit_button {
    -fx-background-image: url("/dk/easv/ticketsys/Images/edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25px;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
}
.newUserBtn {
    -fx-background-color: #004b88;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-padding: 6px 16px;
    -fx-cursor: hand;
}
.clickable-image {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.image-selected {
    -fx-effect: dropshadow(gaussian, #7fa8c5, 10, 0.5, 0, 0);
}

